.home{
    background-image: url('./3.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: contain;
    align-items: center;
    display: flex;
    flex-direction: column;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
}
.hero-btns {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
    margin-top: 32px;
    
  }
.rigth-btn{
    position: absolute;
    left:30%;
    top:70%;
    height: 80px;
    width: 300px;
    color:black;
    font-weight: "bold";
    font-size: 25px;
    background: rgba(0, 0, 0, 0.2);
    transform: translate(-50%,-50%);
    border-width: 10;
    border-color: white;

}
.left-btn{
    position: absolute;
    left:70%;
    top:70%;
    height: 80px;
    width: 300px;
    color:black;
    font-weight: "bold";
    font-size: 25px;
    background: rgba(0, 0, 0, 0.2);
    transform: translate(-50%,-50%);
    border-width: 10;
    border-color: white;

}
/*.chat-btn{
    position: absolute;
    left:40%;
    top: 55%;
}*/

h1 {
    display: block;
    font-size: 3em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    font-family: Apple Chancery, cursive
  }
  h2 {
    font-family: Apple Chancery, cursive
  }
  h3 {
    font-family: Apple Chancery, cursive
  }
  p {
    font-family: Apple Chancery, cursive
  }